@use 'function';

$font-size:14px;

body {
    max-height: 100vh;
    font-size: #{$font-size}px;
    font-size: em-calc(14px);
}

.container {
    display: inline-block;
    width: 100%;
    height: 100%;
}



